*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(0,100,0);
}
nav{
    height: 50px;
    width: 50%;
    margin: auto;
    padding: 30px;
}
nav ul{
    margin: auto;
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav > ul > li{
    float: left;
    line-height: 31px;
}
nav > ul > li > a{
    font-size: 24px;
    text-decoration: none;
    padding: 40px 25px;
    border-radius: 3px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    transition: 0.5s;
}
nav > ul > li > a:hover{
    background-color: #2bab0d;
}
/***hover with Dropdown menu show***/
nav > ul > li:hover .dropdown{
    display: block;
}
/***DropDown menu***/
.dropdown{
    background-color: rgb(0,100,0);
    position: absolute;
    content: "";
    top: 110px;
    left: 43%;
    display: none;
    transition: all 5s ease;
}
.dropdown > li > a{
    font-size: 25px;
    text-decoration: none;
    padding: 0 30px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.dropdown li:hover a{
    color: #2bab0d;
    
}

/***Child Dropdown menu bar***/
.child-drowdown {
    position: absolute;
    right: -85%;
    top: 40%;
    padding: 0px 15px;
    display: none;
    width: 75%;
    background: darkgreen;
}
.child-drowdown > li > a {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    color: white !important;
}
.child-drowdown > li > a:hover{
    color: #2bab0d !important;
}
.dropdown > li:hover .child-drowdown{
    display: block;
}

/***Section Background Image***/
section{
    background-image: url(../img/theme16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}